<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/pages/page2.js"></script>
    <link href="/css/test.css" rel="stylesheet">
</head>

<body>
    <div id="main-contents" class="container">
        <div>TypeScript + JQuery UI + Webpackのサンプルです page2.html</div>
        <div>datepickerのテスト</div>
        <div class="col-md-3">
            <div class="input-group">
                <input id="datepicker" type="text" class="form-control form-control-datepicker" autocomplete="off" />
            </div>
        </div>
        <a href="/">トップページへのリンク</a>
    </div>
</body>

</html>